/* ЛОГО */

.logo-footer {
  color: var(--white-color);
}

/* ФУТЕР */

.footer {
  background-color: var(--background-dark-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
  /* justify-content: space-evenly; */
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-box {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address,
.footer .contact-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address {
  margin-bottom: 9px;

  font-style: normal;
  color: var(--white-color);
}

.footer .contact-list {
  color: var(--white-color-opacity60);
}

.footer .contact-list-item:nth-child(1) {
  margin-bottom: 9px;
}

.address-box .link {
  transition: color var(--time) var(--cubic);
}

.address-box .link:hover,
.address-box .link:focus {
  color: var(--accent-color);
}

.social-links-box .title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.social-list__link {
  background-color: var(--white-color-opacity10);
  color: var(--white-color);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-links-box .icon {
  fill: var(--white-color);
}

.subscribe {
  margin-left: auto;
}

.subscribe__title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 15px;

  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  cursor: pointer;
}

/* СТРАНИЦА ПОРТФОЛИО */

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons-list .button {
  padding: 6px 22px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  border: 0;
  border-radius: 4px;

  color: var(--heading-text-color);
  background-color: var(--background-light-color);

  cursor: pointer;

  transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic),
    box-shadow var(--time) var(--cubic);
}

.portfolio-buttons-list .first-button,
.portfolio-buttons-list .button:hover,
.portfolio-buttons-list .button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  transition: box-shadow var(--time) var(--cubic);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--accent-color-opacity90);
  transition: transform var(--time) var(--cubic);
}

.portfolio-overlay-text {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.portfolio-list-link:hover .portfolio-overlay,
.portfolio-list-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  cursor: pointer;
}

.portfolio-list-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  background-color: var(--white-color);
}

.portfolio-list-content .title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--heading-text-color);
}

.portfolio-list-content .description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-color);

  visibility: visible;
  opacity: 1;
  transition: opacity var(--time) var(--cubic), visibility var(--time) var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--white-color);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid var(--modal-icon-border-color);
  background-color: var(--white-color);

  cursor: pointer;
}

.modal-close .icon {
  fill: var(--black-color);

  transition: fill var(--time) var(--cubic);
}

.modal-close:hover .icon {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-text-color);
}

.modal-form-label {
  width: 100%;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;

  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;

  transition: border-color var(--time) var(--cubic);
}

.modal-form-input:hover,
.modal-form-textarea:hover,
.modal-policy-label:hover {
  cursor: pointer;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-icon-wrapper {
  position: relative;
}

.modal-icon-wrapper .icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  fill: var(--heading-text-color);

  transition: fill var(--time) var(--cubic);
}

.modal-form-input:focus + .icon {
  fill: var(--accent-color);
}

.modal-form-textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;

  transition: border-color var(--time) var(--cubic);
}

.modal-form-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.checkbox-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--heading-text-color);
  border-radius: 3px;

  transition: border-color var(--time) var(--cubic), background-color var(--time) var(--cubic);
}

.policy-checkbox:checked + .checkbox-icon-wrapper {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}

.policy-checkbox:focus + .checkbox-icon-wrapper {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.modal-policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.submit-button {
  align-self: center;
  padding: 10px 55px;
  margin-top: 30px;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);

  transition: background-color var(--time) var(--cubic);
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--hero-button-hover-color);
  cursor: pointer;
}
