.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-color);

  visibility: visible;
  opacity: 1;
  transition: opacity var(--time) var(--cubic), visibility var(--time) var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--white-color);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid var(--modal-icon-border-color);
  background-color: var(--white-color);

  cursor: pointer;
}

.modal-close .icon {
  fill: var(--black-color);

  transition: fill var(--time) var(--cubic);
}

.modal-close:hover .icon {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-text-color);
}

.modal-form-label {
  width: 100%;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;

  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;

  transition: border-color var(--time) var(--cubic);
}

.modal-form-input:hover,
.modal-form-textarea:hover,
.modal-policy-label:hover {
  cursor: pointer;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-icon-wrapper {
  position: relative;
}

.modal-icon-wrapper .icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  fill: var(--heading-text-color);

  transition: fill var(--time) var(--cubic);
}

.modal-form-input:focus + .icon {
  fill: var(--accent-color);
}

.modal-form-textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;

  transition: border-color var(--time) var(--cubic);
}

.modal-form-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.checkbox-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--heading-text-color);
  border-radius: 3px;

  transition: border-color var(--time) var(--cubic), background-color var(--time) var(--cubic);
}

.policy-checkbox:checked + .checkbox-icon-wrapper {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}

.policy-checkbox:focus + .checkbox-icon-wrapper {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.modal-policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.submit-button {
  align-self: center;
  padding: 10px 55px;
  margin-top: 30px;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);

  transition: background-color var(--time) var(--cubic);
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--hero-button-hover-color);
  cursor: pointer;
}
